/* **************************** Footer Comp Styles **************************** */

section#footer {
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(17, 20, 24, 1);
}

section#footer div.footer {
  position: relative;
  padding: 6rem 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  border-top: 3px solid var(--darkwhite);
}

section#footer div.footer h4 {
  margin: 1rem;
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--darkwhite);
  line-height: 1.5;
  letter-spacing: 0.5px;
  word-spacing: -1px;
}

section#footer div.footer h4 i {
  margin: 0 5px;
  font-size: 2rem;
  color: var(--darkgreen);
}

section#footer div.footer h4 a {
  margin: 0 5px;
  font-weight: 600;
  color: var(--darkgreen);
  text-decoration: none;
}

section#footer div.footer h4 a:hover {
  text-decoration: underline;
}

/* **************************** Responsive Medias **************************** */

@media (max-width: 992px) {
  section#footer div.footer {
    padding: 6rem 4rem;
  }
}

@media (max-width: 768px) {
  section#footer div.footer {
    padding: 4rem 2rem;
  }
}

/* **************************** Styles End **************************** */
