/* **************************** Projects Comp Styles **************************** */

section#projects {
  margin: 6rem auto;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

section#projects div.projects {
  position: relative;
  padding: 4rem 1rem;
}

/* =================== Projects Head =================== */

section#projects div.projects .projects_head {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section#projects div.projects .projects_head span {
  margin: 0.5rem auto;
  padding: 0 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--darkblue);
  background: var(--lightgreen);
  text-align: center;
}

section#projects div.projects .projects_head h1 {
  margin: 0.5rem auto;
  font-size: 4rem;
  font-weight: 600;
  color: var(--darkblue);
  text-align: center;
}

/* =================== Projects Cards =================== */

section#projects div.projects .projects_content {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* ============== Project Card ============== */

section#projects div.projects .projects_content .projects_card {
  position: relative;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

section#projects div.projects .projects_content .projects_card img {
  margin: 0;
  width: 45rem;
  height: auto;
  transition: all 0.3s ease;
}

section#projects div.projects .projects_content .projects_card:hover img {
  transform: scale(1.15);
}

section#projects div.projects .projects_content .projects_card a.info {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(4px);
  text-decoration: none;
  opacity: 0;
  transition: all 0.6s ease;
}

section#projects div.projects .projects_content .projects_card a.info_dark {
  background: rgba(0, 0, 0, 0.3);
}
section#projects div.projects .projects_content .projects_card a.info_light {
  background: rgba(0, 0, 0, 0.7);
}

section#projects div.projects .projects_content .projects_card a.info span {
  font-size: 4rem;
  color: var(--darkgreen);
  text-align: center;
  opacity: 0;
  transition: all 0.4s ease;
}

section#projects div.projects .projects_content .projects_card a.info h4 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--darkwhite);
  line-height: 1.2;
  letter-spacing: 0.5px;
  text-align: center;
  opacity: 0;
  transition: all 0.4s ease;
}

section#projects div.projects .projects_card a.info h4:hover {
  color: var(--darkgreen);
}

section#projects div.projects .projects_card:hover a.info,
section#projects div.projects .projects_card:hover a.info span,
section#projects div.projects .projects_card:hover a.info h4 {
  opacity: 1;
}

/* **************************** Responsive Medias **************************** */

@media (max-width: 992px) {
  section#projects div.projects .projects_head h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 472px) {
  section#projects div.projects .projects_content .projects_card img {
    width: 40rem;
  }
}

/* **************************** Styles End **************************** */
